@model Asset.Models.Vendor
<h5 class="text-center mt-3">Details Vendor</h5>
<section class="bg-light mt-3 px-5 py-5">
    <div class="row mt-2 ">
        <dl class="row">
            <dt class="fw-bold col-sm-2">Company Code</dt>
            <dd class="col-sm-10">@Model.Vendor_Code</dd>
            <dt class="fw-bold col-sm-2">Company Name</dt>
            <dd class="col-sm-10">@Model.VName</dd>
           <dt class="fw-bold col-sm-2">Person Name</dt>
            <dd class="col-sm-10">@Model.Person_Name</dd>
<dt class="fw-bold col-sm-2">Mobile Number</dt>
            <dd class="col-sm-10">@Model.Mobile_No</dd>
<dt class="fw-bold col-sm-2">Phone Number</dt>
            <dd class="col-sm-10">@Model.Phone_No</dd>
<dt class="fw-bold col-sm-2">Company Address</dt>
            <dd class="col-sm-10">@Model.VAddress</dd>
<dt class="fw-bold col-sm-2">City</dt>
            <dd class="col-sm-10">@Model.City</dd>
<dt class="fw-bold col-sm-2">State</dt>
            <dd class="col-sm-10">@Model.State</dd>
<dt class="fw-bold col-sm-2">GST Number</dt>
            <dd class="col-sm-10">@Model.GST_No</dd>
<dt class="fw-bold col-sm-2">PAN Number</dt>
            <dd class="col-sm-10">@Model.PAN_No</dd>
<dt class="fw-bold col-sm-2">TIN Number</dt>
<dd class="col-sm-10">@Model.TIN_No</dd>
        </dl>
    </div>
    <div class="justify-content-center mt-3">
        <div class="d-inline-flex">
            <a asp-controller="VendorManagement" asp-action="EditVendor" asp-route-id="@Model?.Vendor_Code" class="btn btn-warning">Edit</a>        
            <a asp-controller="VendorManagement" asp-action="ViewVendors" class="btn btn-secondary mx-3">Cancel</a>
        </div>
    </div>
</section>

