@model IEnumerable<Asset.Models.Vendor>

@{
    ViewData["Title"] = "ViewVendors";
}

<h5 class="text-center mt-3">View Vendors</h5>

<section class="bg-light mt-3 px-5 py-5">

    <a asp-controller="VendorManagement" asp-action="CreateVendor"><b class="ps-1">Add Vendor Details</b></a>
    <div class="row mt-2 ">
        <div class="col-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">COMPANY CODE</th>
                        <th scope="col">COMPANY NAME</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Vendor_Code</td>
                            <td>@item.VName</td>
                            <td><a asp-controller="VendorManagement" asp-action="EditVendor" asp-route-id="@item.Vendor_Code" class="btn btn-warning">Edit</a></td>
                            <td><a asp-controller="VendorManagement" asp-action="DetailsVendor" asp-route-id="@item.Vendor_Code" class="btn btn-info mx-3">Details</a></td>
                            <td><a asp-controller="VendorManagement" asp-action="DeleteVendor" asp-route-id="@item.Vendor_Code" class="btn btn-danger">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
            <div class="d-inline-flex justify-content-end">
                <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-secondary mx-3">Back</a>
            </div>
    </div>
</section>